<!DOCTYPE html>
<html>
<head>
  <title>DeLunaHomework1</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<!--For header-->
<h1> My Events Application </h1>
<%= link_to "Bands", bands_path %>
<%= link_to "Clubs", clubs_path %>
<%= link_to "Bookings", bookings_path %>
<hr/>
<!--For header-->





<%= yield %>

</body>
</html>
